<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mall</display-name>
  
<servlet>
	<servlet-name>admin_siteinfo</servlet-name>
	<servlet-class>admin.admin_siteinfo</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>admin_siteinfo</servlet-name>
	<url-pattern>/admin/admin_siteinfo.do</url-pattern>
</servlet-mapping>
  
</web-app>